/* Write your CSS here */
.about-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  flex-grow: 1;
}

.mobile-img {
  width: 80%;
}

.desktop-img {
  width: 100%;
  max-width: 1110px;
}

@media screen and (min-width: 768px) {
  .mobile-img {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .desktop-img {
    display: none;
  }
}
